.emoji-picker-popover {
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      min-height: 750%;
      max-height: 600%;

      z-index: 9999;

      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
      border-radius: 12px;

      overflow: hidden;
}

.emoji-picker::-webkit-scrollbar {
      display: none;
}