@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@2007&family=Delius&family=Luckiest+Guy&family=Mogra&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --font-app: 'Inter', system-ui, sans-serif, 'Climate';
}

@theme {
  --font-mogra: 'Mogra', sans-serif;
  --font-funky: 'Mogra', 'Climate Crisis', sans-serif
}

* {
  box-sizing: border-box;

}

body {
  font-family: var(--font-app);
  /* font-family: 'Plus Jakarta Sans'; */
  background: #0a0a0a;
  min-height: 100vh;
  color: #fafafa;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #171717;
}

::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525252;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  /* shorthand for top:0, left:0, etc */
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);

  z-index: 9999;
}

.modal-content {
  width: 420px;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
}